<!DOCTYPE html>
<html class="x-admin-sm">

    <head>
        <meta charset="UTF-8">
        <title>产业园信息</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
        <link rel="stylesheet" href="../css/font.css">
        <link rel="stylesheet" href="../css/xadmin.css">
        <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <script src="./../lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="../js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
            .searchbox{
                margin-left:100px;
                display:inline;
                width:300px;
            }
            .searchboxs{
                margin-left:550px;
                display:inline;
                width:300px;
            }
            .distance{
                margin-left:20px;
            }
            .layui-table-page{text-align: center;}
        </style>
    </head>

    <body class="layui-layout-body">
        <!--顶部工具栏-->
        <div class="layui-hide" id="top_bar_cooperation">
            <button class="layui-btn layui-btn-sm" lay-event="insert"><i class="layui-icon layui-icon-addition"></i> 添加</button>
            <form class="layui-form searchbox" lay-filter="form_top_bar">
                <div class="layui-input-inline">
                    <input name="name" class="layui-input"  type="text" placeholder="产业园名称">
                </div>
                <button class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="" lay-filter="search"><i class="layui-icon layui-icon-search"></i>搜索</button>
            </form>
        </div>
        <!--不能并入表格工具栏，否则切换时会自动刷新，无法保持原有选择-->
         <div id="container">
           <table id="tbl_cooperation" lay-filter="filter_tb_cooperation"></table>
         </div>
        <div class="layui-table-page" id="pager"></div>

        <!--行内工具栏-->
        <script type="text/html" id="bar_cooperation">
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detail"><i class="layui-icon layui-icon-edit"></i>详情</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete"><i class="layui-icon layui-icon-delete"></i> 删除</a>
        </script>
        <script src="../js/fieldSet.js"></script>
        <script src="../js/interface.js"></script>
        <script src="../js/jquery.min.js"></script>
        <script src="../js/jquery.params.js"></script>
        <script src="../js/queryParam.js"></script>

        <script>
            var table;//数据表格对象
            var laypage;//分页对象
            var form;//分页对象
            var layer;//弹出窗口
            var element;
            var park = null;
            var current = 1;
            var limit = 10;
            var search={}//查询条件
            $(function () {
                loadLayuiModule();
            });

            function loadLayuiModule() {
                layui.use(['table','form','element','layer','laypage'], function() {
                    table = layui.table;
                    layer = layui.layer;
                    element = layui.element;
                    laypage = layui.laypage;
                    form = layui.form;
                    initPage();
                });
            }

            function initPage() {
                //搜索表单提交
                form.on('submit(search)', function(data){
                    search = data.field;
                    getList(current,limit,search);
                    return false;
                });
                initTable();
            }

            function initTable() {
                //初始化数据表格
                table.render({
                    elem: '#tbl_cooperation',
                    toolbar: '#top_bar_cooperation', //开启头部工具栏，并为其绑定左侧模板
                    title: '合作客户列表',
                    cellMinWidth: 80, //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                    cols: columns_park,
                    limit: 200,
                    id: 'tbl_cooperation'
                });
                getList(current,limit,search);
                //行内工具栏事件响应
                table.on('tool(filter_tb_cooperation)', function(obj){ //注：tool 是工具条事件名，filter_tb_notice是table原始容器的属性lay-filter="对应的值"
                    var data = obj.data; //获得当前行数据
                    switch (obj.event){
                        case "detail":
                            showDetailDlg(data);
                            break;
                    }
                });

                //顶部工具栏事件处理
                table.on('toolbar(filter_tb_cooperation)', function(obj){
                    switch(obj.event){
                        case 'insert':
                            showInsertDlg();
                            break;
                    };
                });
            }
            //获取列表
            function getList(current,limit,Query) {
                $.ajax({
                    url: '/eduservice/park/getParkList/'+current+'/'+limit,
                    data:JSON.stringify(Query),
                    contentType:"application/json",
                    type:"post",
                    SYNC:false,
                    ASYNC:true,
                    dataType:"text",
                    success:function(res) {
                        var data = JSON.parse(res);
                        table.reload('tbl_cooperation', {
                            data:data.data.rows
                        });
                        //初始化分页
                        laypage.render({
                            elem: 'pager'
                            ,curr:current
                            ,count: data.data.total //数据总数
                            ,limit: limit
                            ,limits: [10, 20, 50, 100, 200]
                            ,layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh']
                            ,jump: function(obj,first){
                                //首次不执行
                                if(!first){
                                    getList(obj.curr,obj.limit,{});
                                }
                            }
                        });
                    }
                });
            }

            //打开详情对话框
            function showDetailDlg(park) {
                var content = "./parkDetail.html?park="+encodeURIComponent(JSON.stringify(park));
                layer.open({
                    title:"产业园详情",
                    type: 2,
                    area: ['80%', '90%'],
                    content: content,
                    cancel:function (index) {
                        layer.close(index);
                        getList(current,limit,search);
                    }
                });
            }

            //打开添加对话框
            function showInsertDlg() {
                park=null;
                var content = "./parkDetail.html?park="+encodeURIComponent(JSON.stringify(park));
                layer.open({
                    title:"添加产业园",
                    type: 2,
                    area: ['60%', '90%'],
                    content: content,
                    cancel:function (index) {
                        layer.close(index);
                        getList(current,limit,search);
                    }
                });
            }


        </script>
    </body>
</html>