<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>合同明细</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8"/>
    <link rel="stylesheet" href="./../css/font.css">
    <link rel="stylesheet" href="./../css/xadmin.css">
    <script src="./../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./../js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>

        [name=salary_item_defined]:after {
            content: "×";
            position: relative;
            left: 5px;
            top: -12px;
            color: red;
        }

    </style>
</head>
<body>
<div class="layui-tab layui-tab-brief" lay-filter="tab_info">
    <div class="layui-tab-content">
        <!--合同信息-->
        <div class="layui-tab-item layui-show" >
            <form lay-filter="form_contract" class="layui-form">
                <input type='hidden' name='id'/>
                <input type='hidden' name='aid'/>
                <input type='hidden' name='bid'/>
                <input type='hidden' name='type'/>
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>渠道商与客户合同</legend>
                </fieldset>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>增值税比例</label>
                        <div class="layui-input-inline">
                            <input type="text" name="per1" required="" autocomplete="off" class="layui-input"></div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>企业所得税比例</label>
                        <div class="layui-input-inline">
                            <input type="text" name="per2" required=""  autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>个人所得税比例</label>
                        <div class="layui-input-inline">
                            <input type="text" name="per3" required=""  autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>印花税比例</label>
                        <div class="layui-input-inline">
                            <input type="text"  name="per4"
                                   required="" autocomplete="off" class="layui-input"></div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>城建税比例</label>
                        <div class="layui-input-inline">
                            <input type="text" name="per5" required=""  autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>合同文件</label>
                        <div class="layui-input-inline">
                            <input type="text"  name="img"
                                   required="" autocomplete="off" class="layui-input"></div>
                    </div>
                </div>
                <div class="layui-form-item" style="text-align: center" >
                    <button lay-submit lay-filter="submit_contract" class="layui-btn" >保存</button>
                </div>
            </form>
        </div>

    </div>
</div>

<script type="text/html" id="bar_client">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="contract"><i class="layui-icon layui-icon-edit"></i>查看合同</a>
</script>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/jquery.params.js"></script>
<script src="../js/interface.js"></script>
<script src="../js/fieldSet.js"></script>
<script>
    var form;//表单对象
    var laypage;//分页对象
    var table;
    var layer;
    var editer;
    var element;
    var distribute=null;//初始化渠道商信息
    var tree;
    loadLayuiModule();
    function loadLayuiModule() {
        layui.use(['form', 'table', 'layedit', 'layer', 'element', 'jquery','tree','laypage'], function () {
            form = layui.form;
            laypage = layui.laypage;
            table = layui.table;
            element = layui.element;
            layer = layui.layer;
            layedit = layui.layedit;
            tree = layui.tree;
            editer = layedit.build('content'); //建立编辑器
            initPage();
        });
    }

    function initPage() {
        var aid =$.query.get("aid");
        var bid =$.query.get("bid");
        getContract(aid,bid);
        //保存合同信息
        form.on('submit(submit_contract)', function(data){
            saveContract(data.field);
            return false;
        });
    }
    //获取合同
    function getContract(aid,bid) {
            var type=2;
            $.ajax({
                url: '/eduservice/contract/findAll'+"/"+aid+"/"+bid+"/"+type,
                contentType: "application/json",
                type: "post",
                SYNC: false,
                ASYNC: true,
                dataType: "text",
                success: function (res) {
                    var data = JSON.parse(res);
                    var contract = data.data.rows[0];
                     form.val('form_contract', contract);
                    }
             });

    }
    //保存合同
    function saveContract(contract) {
        if(contract.id) {//修改
            $.ajax({
                url: '/eduservice/contract/updateContract',
                data: JSON.stringify(contract),
                contentType: "application/json",
                type: "post",
                SYNC: false,
                ASYNC: true,
                dataType: "text",
                success: function () {
                    layer.msg("修改成功");
                    form.val('form_contract', contract);
                }
            });
        }else {//插入
            contract.type=2;//平台与渠道商的合同
            contract.bid=distribute.id;
            contract.aid=0;
            $.ajax({
                url: '/eduservice/contract/addContract',
                data: JSON.stringify(contract),
                contentType: "application/json",
                type: "post",
                SYNC: false,
                ASYNC: true,
                dataType: "text",
                success: function () {
                    layer.msg("插入成功");
                    form.val('form_contract', contract);
                }
            });
        }
    }
</script>

</html>
